@import "reset.css";
@import url('https://fonts.googleapis.com/css?family=Podkova:400,800&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=PT+Sans+Caption:400,700&subset=cyrillic');
iframe{border:0}
.modal-body{padding:15px 74px}
.modal-body .input-text{border:1px solid #000}
.row{padding:0}
*{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box}
div.alert_on{display:block;font-size:16px;font-style:italic;color:#fff;float:left;padding-left:4px}
#phone_bottom_2,#phone_bottom_4,#phone_bottom_6{float:none;position:absolute;bottom:13%;left:35.5%;font-size:15px}
#phone_bottom_3,#phone_bottom_5{float:none;position:absolute;bottom:13%;left:6.5%;font-size:15px}
div.alert_on_bg_white{color:#949494;margin-left:15%}
#phone_bottom_8{color:#9a873b;padding-left:12px}
#phone_bottom_10{position:absolute;bottom:7%;color:#949494;float:none;left:4%}
#phone_bottom_11{color:#949494;margin-left:17.5%}
div.alert_on_modal{color:#949494;margin-left:20.5%}
a,button,input{-webkit-transition:all all .4s ease 0;-moz-transition:all .4s ease 0;-ms-transition:all .4s ease 0;-o-transition:all .4s ease 0;transition:all .4s ease 0}
body{font-family: 'Roboto', sans-serif;font-weight:500;font-size:18px;color:#383838;position:relative;line-height:1.42857;-webkit-font-smoothing:antialised;z-index:initial;min-width:320px}
a,button,input{outline:none}
select{padding-left:1.2%}
.hidden{display:none}
.logo{float:left;max-width:81px;width:100%;height:auto;margin-right:4%;margin-top:1%}
.top-menu-item{float:left}
.top-menu-item a:hover{color:#fe475a}
.top-menu-item img{margin-right:0;margin-bottom:0;display:block;float:left;margin-left:5%}
.top-menu-item-1 img{margin-top:0}
.top-menu-item-2 img{margin-top:0}
.top-menu-item-3 img{margin-top:0}
.top-menu-item-4 img{margin-top:0}
.top-menu-item a{font: 17px 'Roboto Condensed', sans-serif;color:#393939;text-decoration:underline;text-decoration-color:#cdcdcd;line-height:1.3;display:block;margin-top:14%;margin-left:45%}
.section-title{padding:0;text-align:center;text-transform:uppercase;font-size:41px;color:#383838;font-family: 'Podkova', serif;font-weight:800;line-height:1.2;}
.section-title h2{margin:5% 0}
.section-title-1 h2{margin:2% 0 1%}
.section-title h2 span{color:#fe475a}
.equipment-img{max-width:350px;width:100%;height:auto;background-color:#fff;border-radius:2px;box-shadow:0 30px 40px rgba(38,32,24,0.15);padding:5px 0}
.equipment-img img{display:block;margin:35px auto}
.equipment-img-1{max-width:330px;width:100%;height:auto}
.equipment-brand{max-width:225px;width:100%;height:auto;background-color:#fff;box-shadow:0 30px 40px rgba(38,32,24,0.15);padding:10px 0;position:absolute;right:-9%;bottom:-3%}
.equipment-brand img{display:block;margin:0 auto}
.equipment-brand-img{max-width:165px;height:auto;width:100%}
.equipment-img2{margin-left:45%;margin-top:120px;max-width:600px;width:115%;height:auto;background-color:#fff;border-radius:2px;box-shadow:0 30px 40px rgba(38,32,24,0.15);padding:1px 0}
.equipment-img2 img{display:block;margin:5px auto}
.equipment-img-2{max-width:550px;width:96%;height:auto}
.equipment-brand2{max-width:225px;width:100%;height:auto;background-color:#fff;box-shadow:0 30px 40px rgba(38,32,24,0.15);padding:10px 0;position:absolute;right:-9%;bottom:-3%}
.equipment-brand2 img{display:block;margin:0 auto}
.equipment-brand-img2{max-width:165px;height:auto;width:100%}
.certificate-img img{max-width:157px;width:100%;height:auto}
.certificate-img{max-width:157px;width:100%;height:auto;box-shadow:0 1px 42px -12px #342727}
.set-position img{display:block;margin:0 auto;height:auto}
.position4{margin-top:105px}
.sliderBox{width:363px;height:404px;background-color:#fff;border:1px solid #fe475a}
.SimSlider{width:50px;height:50px;border:1px solid #fe475a}
.block-1{height:404px;width:100%}
.block-1 .inside{position:relative;max-width:363px;width:100%;margin:0 auto}
.block-1 .sliderBox{max-width:363px;width:100%;height:404px;background-color:#fff}
.block-1 .sliderBox .prevBtn{position:absolute;bottom:-19%;left:-13%;height:60px;width:30px;text-decoration:none;z-index:25}
.block-1 .sliderBox .nextBtn{position:absolute;bottom:-19%;right:-3%;height:60px;width:30px;text-decoration:none;z-index:25}
.block-1 .SimSlider{position:relative;overflow:hidden;max-width:363px;width:100%;height:516px;border:none}
.block-1 .SimSlider .slide{position:absolute;top:0;left:0;max-width:363px;width:100%;height:404px;text-align: center;}
.sl-1{max-width:363px;width:100%;height:404px}
.sl-0{max-width:363px;width:100%;height:404px;position:relative}
.fa-arrow-left{font-size:30px;padding:7px 5px}
.fa-arrow-right{font-size:30px;padding:7px}
.wrap-input-name-credit{float:left}
.wrap-input-telephone-credit{float:left}
.wrap-top-menu{width:100%;border-bottom:1px solid #f3eaec;border-top:1px solid #f3eaec}
.logo-img{max-width:900px;width:180%;height:auto}
.header-logo-text h1{font: 20px 'Roboto Condensed', sans-serif;font-weight: 700;color:#393939}
.header-logo-text span{color:#393939;font: 17px 'Open Sans', sans-serif;}
.header-city,.header-phone-number{font: 25px 'Open Sans', sans-serif;font-weight: bold;line-height:.7;margin-top:1%;padding-left:6%}
.city-p{line-height:25px;text-transform:lowercase}
.city-p:first-letter{text-transform:uppercase}
#openModalOk div{padding:0px}
#openModalOk h4{margin:0}
.header-city a,.header-phone-number a{font:14px 'Roboto', sans-serif;line-height:.5;color:#949494;text-decoration:underline;}
.header-logo-text{margin-top:1%;margin-bottom:1%}
.header-city a:hover,.header-phone-number a:hover,.header-city a:focus,.header-phone-number a:focus,.header-city a:target,.header-phone-number a:target{color:#393939}
.header-city{background:url(../img/placeholder-point.png) no-repeat 14% 60%;line-height:.5;padding-top:1.8%}
.header-phone-number{background:url(../img/phone-receiver.png) no-repeat 14% 55%;padding-top:2%}
.section-1-equipment{padding:0;position:relative}
.section-1-list{font-size:22px;font-family: 'Open Sans', sans-serif;font-weight:700;}
.section-1-list span{font-family: 'Open Sans', sans-serif;font-weight:800;color:#fe475a}
.section-1-list li{margin-top:10%;margin-left:-7%}
.list-1-item img{display:block;float:left;margin:1% 4% 0 0}
.wrap-section-1-list{padding:0}
.item-1-3 img{margin-left:2%}
.section-1-form{padding:0}
.section-1-form2{margin-left:-140px;margin-top:120px;padding:0;max-width:1200px;height:15%;width:35%;}
.section-1-form2 span{color:#fe475a;font-family: 'Roboto', sans-serif;font-weight:900;}
.section-1-form-wrap{text-align:center;font-family:'Roboto Condensed', sans-serif;font-weight:600;background:#fe475a;padding:0 10%}
.section-1-form-wrap h4{font-size:36px;line-height:1.1;color:#fff;text-transform:uppercase;padding-top:5%;font-family: 'Roboto Condensed', sans-serif;}
.section-1-form-wrap2 {text-align:center;font-family:'Roboto Condensed', sans-serif;font-weight:600;background:#fff;padding:0 10%}
.section-1-form-wrap2 h4{font-size:24px;line-height:1.1;color:black;text-transform:uppercase;padding-top:5%;font-family: 'Roboto Condensed', sans-serif;}
.input-text{font: 18px 'Roboto', sans-serif;color:#949494;padding:10px 0 10px 25px;border-radius:2px;border:none;text-transform:none;width:100%;margin:5px auto}
select:hover{cursor:pointer}
select::-ms-expand{display:none}
select{background-color:#a9bec3;-webkit-appearance:none;appearance:none;-moz-appearance:none;-ms-appearance:none;background:url(../img/arrow-point.png) no-repeat 90% #fff}
.wrap-form-btn{margin-top:30px;margin-bottom:25%}
.form-button{font: 23px 'Roboto Condensed', sans-serif;font-weight: 600;padding:0 22px;text-transform:uppercase;border-radius:2px;-webkit-box-shadow:0 10px 20px 0 rgba(0,0,0,0.15);-moz-box-shadow:0 10px 20px 0 rgba(0,0,0,0.15);box-shadow:0 10px 20px 0 rgba(0,0,0,0.15);border:none;height:60px;background-color:#FFFF00}
.form-1-btn{margin-bottom:30px}
.form-button:active{box-shadow:none;background-color:#FFFF00}
.form-button:hover{background-color:#ffba00;-webkit-box-shadow:0 1px 10px -10px rgba(0,0,0,0.01);-moz-box-shadow:0 1px 10px -10px rgba(0,0,0,0.01);box-shadow:0 1px 10px -10px rgba(0,0,0,0.01)}
.btn-color-2{background-color:#FFFF00;color:#black}
.btn-color-2:hover{background-color:#fc2d43;-webkit-box-shadow:0 1px 10px -10px rgba(0,0,0,0.01);-moz-box-shadow:0 1px 10px -10px rgba(0,0,0,0.01);box-shadow:0 1px 10px -10px rgba(0,0,0,0.01)}
.btn-color-2:active{-webkit-box-shadow:0 1px 10px -10px rgba(0,0,0,0.01);-moz-box-shadow:0 1px 10px -10px rgba(0,0,0,0.01);box-shadow:0 1px 10px -10px rgba(0,0,0,0.01);background-color:#fc2d43}
.wrap-section-string-form{background:url(../img/bg-1.png)}
.section-block-text h3{font-size:30px; font-family: 'Roboto', sans-serif;font-weight:700;}
.section-block-text h3 span{font-family: 'Roboto', sans-serif;font-weight:900;color:#fe475a}
.section-block-text{padding-left:7%;margin-top:4%}
.section-block-text p{margin-top:4%;margin-bottom:7.5%}
.triangle-topright{width:0;height:0;border-left:174.9px solid transparent;border-top:166px solid #fe475a;float:left}
.form-catalog{float:right;display:inline-block;width:100%;position:relative;background:url(../img/bg_form_2.png) no-repeat}
.input-string-form{display:inline-block;width:18%;float:left;margin-left:2%;margin-top:1%;margin-bottom:5%}
.catalog-wrap-1{padding-right:5%}
.form-catalog p{font: 19px 'Open Sans', sans-serif;font-weight: 700;color:#fff;text-transform:uppercase;text-align:right;padding-right:9%;margin-top:4%}
.string-form-name{margin-left:36%}
.btn-position-right{position:absolute;right:-5.5%;bottom:-15%;margin:0}
.form-2-btn{width:306px;height:60px}
.form-catalog-wrap{margin-bottom:25%}
.form-catalog-left{float:right;display:inline-block;background:url(../img/bg_form_right.png) no-repeat;width:100%;position:relative}
.form-catalog-left p{font: 19px 'Open Sans', sans-serif;font-weight: 700;color:#fff;text-transform:uppercase;text-align:left;padding-left:7%;margin-top:4%}
.input-string-form-left{width:18%;float:left;margin-left:7%;margin-top:1%}
.triangle-topleft{padding:0;width:0;height:0;border-right:174.9px solid transparent;border-top:167px solid #fe475a;float:right}
.catalog-wrap-2{padding-right:5%}
.btn-position-center{position:absolute;left:42%;bottom:-15%;margin:0}
.btn-position-center2{position:absolute;left:70%;bottom:24%;margin:0}
.section-title-certificate h2{font-size:36px;margin-top:5%;margin-bottom:0}
.section-title-certificate p{font: 30px 'Roboto Condensed', sans-serif;font-weight:700;margin-top:2%;margin-bottom:5%}
.section-title-certificate p span{    font-family: 'Roboto', sans-serif;font-weight:900;color:#fe475a}
.wrap-section-certificate{background:#f2f2f2}
.brand-string{margin-top:5%;margin-bottom:5%}
.brand-img-1{margin:0 auto;display:block;max-width:200px;width:100%;height:auto}
.brand-img-5{display:block;margin:0 auto;max-width:200px;width:100%;height:auto}
.brand-img-4{float:right;max-width:200px;width:100%;height:auto;display:block;margin:0 auto}
.brand-img-2{margin:15% 0 0 7%;max-width:200px;width:100%;height:auto}
.brand-img-6{margin-left:45%;max-width:200px;width:100%;height:auto;display:block}
.brand-img-9{margin-left:12%;max-width:200px;width:100%;height:auto;display:block}
.brand-string-2{margin-bottom:9%}
.wrap-section-price{background:#fe475a}
.wrap-section-price10{background:#fff}
.wrap-form-price{color:#212121;background:#fff;border-radius:2px;box-shadow:0 30px 40px rgba(38,32,24,0.15);margin:7% auto;width:855px;text-align:center;padding-top:30px}
.wrap-form-price h4{font-size:34px;font-family: 'Roboto Condensed', sans-serif;font-weight:700;text-transform:uppercase;margin-bottom:20px}
.wrap-form-price h4 span{font-family: 'Roboto', sans-serif;font-weight:900;color:#fe475a}
.wrap-form-price p{font: 23px 'Roboto Condensed', sans-serif;display:block}
.input-price{background:#efe3e6;width:585px;height:45px;margin-top:14px}
.wrap-form-btn-price{margin-top:25px}
.btn-price{width:473px;height:80px}
.section-title-calc h2{font-size:37px;margin-left:-2%;margin-right:-2%}
.wrap-calc-section{background:#fcd63f;padding-bottom:70px;overflow:hidden}
.label-style-1{font: 26px 'Open Sans', sans-serif;font-weight: 700;}
.wrap-calc form fieldset input[type=checkbox]{display:none}
.wrap-calc form fieldset input[type=radio]{display:none}
input[type="checkbox"] + label{display:inline-block;padding-left:50px;background:url(../img/checkbox_1.png) 2% 40% no-repeat;cursor:pointer}
input[type="checkbox"]:checked + label{background:url(../img/checkbox_2.png) 2% 40% no-repeat}
input[type="radio"] + label{display:inline-block;padding-left:40px;background:url(../img/radio_1.png) 2% 40% no-repeat;cursor:pointer}
input[type="radio"]:checked + label{background:url(../img/radio_2.png) 2% 40% no-repeat}
input[type="checkbox"]:disabled + label,input[type="radio"]:disabled + label{color:#9a873b}
select:disabled{color:#9a873b}
fieldset{padding-top:2.5%;padding-bottom:2.5%;border-top:none;border-left:none;border-right:none;border-bottom:none;width:100%}
.last-fieldset{background:none}
.cacl-col-1{margin-top:5px;margin-left:2%;margin-right:3%;float:left}
.cacl-col-2{margin-top:5px;margin-right:5%;float:left}
.calc-col-3{float:left;margin-top:5px;margin-right:4%}
.calc-col-3 select{width:138px;height:31px;background-color:#fff;border:none;margin-top:5px}
.cacl-col-1 li{margin-top:5px}
.cacl-col-2 li{margin-top:11%}
.calc-col-4{margin-top:5px;float:left}
.calc-col-4 select{width:200px;height:31px;background-color:#fff;border:none;margin-top:5px}
.calc-col-5{float:left;margin-top:5px;margin-left:2%;margin-right:2%}
.calc-col-5 select{width:154px;height:31px;background-color:#fff;border:none;margin-top:.7%}
.cacl-col-6{float:left;margin-top:5px;margin-right:6%}
.cacl-col-6 li{margin-top:5px}
.calc-col-7{margin-top:5px;margin-right:4%}
.calc-col-7 select{width:154px;height:31px;background-color:#fff;border:none;margin-top:0}
.btn-calc{width:100%;min-height:52px;margin:0}
.wrap-calc{position:relative;z-index:0}
.wrap-calc form{z-index:5;position:relative}
.wrap-calc img{width:100%;max-width:604px;height:auto;position:absolute;top:0;right:-0;z-index:1;opacity:.6}
.section-title-set{font-size:35px;margin-top:0}
.position4{border:1px solid #fe475a;border-radius:2px}
.set-text h4{font: 23px 'Roboto', sans-serif;margin:7% 0 3.5%}
.delivery-title h2{margin-top:2%}
.set-text h4 span{font-family: 'Roboto Condensed', sans-serif;font-weight: 600;text-transform:uppercase}
.set-text p{padding-left:3%}
.wrap-set-btn{margin-top:5%;text-align:center;margin-left:-14%;margin-bottom:8%;position:relative}
.wrap-set-btn p{font:24px 'Roboto Condensed', sans-serif;font-weight:600;text-transform:uppercase}
.wrap-set-btn span{font: 36px 'Open Sans', sans-serif;font-weight: 900;color:#fe475a}
.set-btn{width:517px;height:60px;background-color:#fcd63f;color:#383838;cursor:pointer;display:block;margin:0 auto;padding:0}
.set-btn a{display:block;width:100%;height:100%;padding-top:13px}
.set-btn a,.set-btn a:hover,.set-btn a:focus{color:#383838;text-decoration:none}
.wrap-gray{background:#f6f6f6}
.set-btn-2{margin-bottom:20%}
.pos4-2{margin-top:15%}
.delivery-title{font-size:38px;font-family: 'Podkova', serif;font-weight: 800;line-height: 1.2;}
.delivery-title span{font-family: 'Podkova', serif;}
.no-padding{padding:0}
.catalog-position{text-align:center}
.cat-pos{font:14px PTSansBold,sans-serif;font-weight:600;margin-right:1%;width:19%}
.cat-pos-1 img{max-width:127px;height:auto;width:100%;margin:0 auto;display:block}
.cat-pos-1{padding-top:1%}
.cat-pos-2 img{max-width:168px;height:auto;width:100%;margin:0 auto;display:block}
.cat-pos-2{padding-top:1%}
.cat-pos-3 img{max-width:131px;height:auto;width:100%;margin:0 auto;display:block}
.cat-pos-4 img{max-width:120px;height:auto;width:100%;margin:0 auto;display:block}
.cat-pos-5 img{max-width:178px;height:auto;width:100%;margin:0 auto;display:block}
.cat-pos-5{padding-top:3.8%}
.cat-pos-6 img{max-width:225px;height:auto;width:100%;margin:0 auto;display:block}
.cat-pos-6{padding-top:3.8%}
.cat-pos-7 img{max-width:156px;height:auto;width:100%;margin:0 auto;display:block}
.cat-pos-7{padding-top:3.8%}
.cat-pos-8 img{max-width:150px;height:auto;width:100%;margin:0 auto;display:block}
.cat-pos-9 img{max-width:173px;height:auto;width:100%;margin:0 auto;display:block}
.cat-pos-9{padding-top:3.5%}
.cat-pos-9 p{margin-top:2%}
.cat-pos-10 img{max-width:163px;height:auto;width:100%;margin:0 auto;display:block}
.cat-pos-10{margin-right:0;padding-top:2.8%}
.cat-pos-11,.cat-pos-12,.cat-pos-13{width:20%;text-align:center}
.cat-pos-13{margin-right:0}
.cat-pos-11 img{max-width:87.5px;height:auto;width:100%;margin:0 auto;display:block}
.cat-pos-11{margin-left:17%}
.cat-pos-12 img{max-width:157px;height:auto;width:100%;margin:0 auto;display:block}
.cat-pos-13 img{max-width:177px;height:auto;width:100%;margin:0 auto;display:block}
.cat-pos-12{padding-top:2.9%}
.cat-pos-13{padding-top:5.5%}
.cat-pos-string{margin-top:5%}
.wrap-manager-section{background:#f1f1f1}
.wrap-manager-section .container{padding:0}
.section-title-manager{font-size:40px}
.cat-pos-string-2{margin-bottom:11%}
.wrap-form-call{margin-top:5%;text-align:center;background:#fff;width:433px;height:445px;padding-top:50px;position:relative;margin-bottom:20%}
.wrap-form-call p{display:block;font: 23px 'Roboto', sans-serif;}
.wrap-form-call p i{margin:0 10px;color:#fe475a}
.wrap-form-call p span{font-family: 'Roboto Condensed', sans-serif;font-weight: 500;}
.wrap-form-call h4{margin-top:30px;font:30px 'Roboto Condensed', sans-serif;font-weight:600;text-transform:uppercase}
.wrap-form-call h4 span{font:30px 'Roboto Condensed', sans-serif;font-weight:600;color:#fe475a}
.input-call{width:300px;height:45px;background-color:#efe3e6}
.wrap-form-btn-call{margin-top:30px}
.btn-call{width:320px;height:60px}
.call-form-small-text{position:absolute;bottom:7%;left:40%;color:#949494}
.name-manager {display: inline-block;z-index: 20;position: relative;/* bottom: -19%; *//* left: 26%; */font: 18px 'Roboto Condensed', sans-serif;color: #fff;margin-top: 30px;text-align: center;margin-left: 10px;}
.name-manager span{font: 24px 'Roboto Condensed', sans-serif;font-weight: bold;text-transform:uppercase}
.wrap-name-manager{position:absolute;z-index:1;bottom:-28%;left:-3%}
.map-box{border:3px solid #fe475a;text-align:center;font: 24px 'Podkova', serif;font-weight: 800;line-height:1}
.map-box-1{padding-top:5%;width:388px;height:99px}
.map-box-2{width:479px;height:99px;padding-top:3.6%}
.map-box span{font-size:56.65px;line-height:.9;display:block;position:absolute;left:0;background:#fff}
.map-box-1 span{top:17px;left:20%}
.map-box-1-wp{padding-left:11%;margin-bottom:3%}
.wrap-contract{background:url(../img/bg--contract.png);background-position:center center;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover}
/*.contract{margin-left:22%}*/
.contract img{display:block;margin:0 auto;max-width:302px;width:100%;height:auto;height:110%;box-shadow:0 8px 40px rgba(38,32,24,0.32);margin:-5% auto}
.contract-text{text-align:center;font: 35px 'Podkova', serif;font-weight: 800;margin:10% 0%;color:#fff;text-transform:uppercase}
.section-title-video{font:30px}
.wrap-video-text{padding:0;border-top:5px solid #ffd000;position:relative}
.comment-wrap{padding:0;border-top:5px solid #ffd000;background:#eff3f6}
.video-text-block h4{font:18.75px 'PT Sans Caption', sans-serif;font-weight:600;margin-top:3%;padding-left:25%}
.video-text-block p{font:14.58px PTSansRegular,sans-serif;padding-left:10%;margin-top:10%}
.angle-double-left{position:absolute;top:-2.1%;left:2.3%}
.comment{font:18.75px 'PT Sans Caption', sans-serif;font-weight:700;text-transform:none;margin-left:21%;margin-bottom:5%}
.comment p{margin-top:3%;margin-bottom:11%}
.comment ul{font-size:14.58px}
.comment ul li{margin-top:3%}
.comment ul li:before{font-size:13px;content:"\f0c8";font-family:FontAwesome;color:#fe475a;margin-right:4%;margin-left:-8%}
.video-btn{width:320px;margin:0 auto}
.wrap-video-btn{text-align:center;margin-bottom:5%}
.wrap-section-price-2{background:#f1f1f1}
.wrap-form-credit{background:#fff;box-shadow:0 30px 40px rgba(38,32,24,0.15);padding-top:3%;font-size:36px;font-family: 'Roboto Condensed', sans-serif;font-weight:700;;text-transform:uppercase;text-align:center;margin-top:5%;margin-bottom:5%;position:relative}
.wrap-form-credit span{color:#fe475a;font-family: 'Roboto', sans-serif;font-weight:900;}
.wrap-form-credit p{margin-bottom:2%}
.input-credit{width:310px;height:45px;background-color:#efe3e6;border-radius:2px}
.input-name-crd{margin-left:50px}
.input-phone-crd{margin-left:25px}
.btn-credit{width:309px;height:80px;background-color:#FFFF00;margin-left:-7%}
.wrap-form-price-2{max-width:916px;width:100%;background-color:#fff;box-shadow:0 30px 40px rgba(38,32,24,0.15);border:3px solid #fe475a}
.footer-info{font: 24px 'Roboto Condensed', sans-serif;font-weight: 600;}
.footer-info p{margin-top:10%}
.footer-info span{font: 18px 'Roboto Condensed', sans-serif;color:#949494}
.footer-phone{padding:0 0 0 12%;text-align:center;float:right;background:url(../img/phone.png) no-repeat 0 25%;color:#949494;font: 18px 'Roboto Condensed', sans-serif;margin-top:10%}
.footer-phone span{font: 50.29px 'Roboto', sans-serif;font-weight: 900;color:#393939;}
.callback-btn{width:355px;height:56px;background-color:#fe475a;box-shadow:none;color:#fff;float:right;margin-top:6%;margin-bottom:15%}
.callback-btn:hover,.callback-btn:active{background:#92000A}
.video-text-block{margin-bottom:17%}
.wrap-video-block{padding:0}
.video-block{display:block;position:relative;z-index:15}
#map{margin:20px 0 0;width:100%;height:600px}
.map-text{text-align:center;position:relative;z-index:10;font: 20px 'Roboto', sans-serif;font-weight: 600;}
.map-text span{font: 60px 'Podkova', serif;font-weight: 800;color:#fe475a}
.modalDialog{position:fixed;top:0;right:0;bottom:0;left:0;background:rgba(0,0,0,0.8);z-index:9999;-webkit-transition:opacity 400ms ease-in;-moz-transition:opacity 400ms ease-in;transition:opacity 400ms ease-in;display:none;pointer-events:none}
.modalDialog > div{text-align:center;width:742px;background-color:#fff;box-shadow:0 30px 40px rgba(38,32,24,0.15);padding-top:5%;position:relative;margin:10% auto}
.modalDialog2{position:fixed;top:0;right:0;bottom:0;left:0;background:rgba(0,0,0,0.8);z-index:9999;-webkit-transition:opacity 400ms ease-in;-moz-transition:opacity 400ms ease-in;transition:opacity 400ms ease-in;display:none;pointer-events:none}
.modalDialog2 > div{width:1000px;background-color:#fff;box-shadow:0 30px 40px rgba(38,32,24,0.15);padding-top:3%;position:relative;margin:4% auto}
.close span{position:absolute;width:50px;height:50px;background:url(../img/close.png) no-repeat;top:3%;right:3%}
.close span:hover{background:url(../img/close_hover.png) no-repeat;-webkit-transition:all ease .4s;-moz-transition:all ease .4s;-ms-transition:all ease .4s;-o-transition:all ease .4s;transition:all ease .4s}
.modalDialog:target{display:block;pointer-events:auto}
.modalDialog h4{font: 30px 'Roboto Condensed', sans-serif;margin-bottom:6%;text-transform:uppercase;font-weight: bold;}
.modalDialog2:target{display:block;pointer-events:auto}
.modalDialog2 h4{font: 5px 'times new roman', sans-serif;margin-bottom:6%;text-transform:none;font-weight: bold;}
.modalDialog2 h1{text-align:center;font: 20px 'times new roman', sans-serif;margin-bottom:1%;margin-top:0o;text-transform:none;font-weight: bold;}
.modalDialog2 h2{text-align:justify;font: 13px 'times new roman', sans-serif;margin-bottom:1%;margin-left:5%;margin-right:5%;text-transform:none
;font-weight: bold;}
.modalDialog2 h3{text-align:justify;font: 12px 'times new roman', sans-serif;margin-bottom:1%;margin-left:10%;margin-right:5%;text-transform:none
;font-weight: bold;}
.modalDialog2 h5{text-align:center;font: 13px 'times new roman', sans-serif;margin-bottom:1%;margin-left:5%;margin-right:5%;text-transform:none
;font-weight: bold;}
.modalDialog2 h6{text-align:center;font: 14px 'times new roman', sans-serif;margin-bottom:1%;margin-top:0o;text-transform:none;font-weight: bold;}
.otstup {text-indent: 20px;}  /* ??? ??? ??? ????? */

.input-modal{background:#efe3e6;margin:5px 0;width:430px}
.btn-modal{margin-top:25px;margin-bottom:75px;width:473px;height:80px}
#header-regions{display:block;position:relative}
.region-heading h2{font:28px 'Roboto Condensed', sans-serif;font-weight:600;margin-top:4%;text-transform:uppercase}
.region-heading span{font:22px 'Roboto Condensed', sans-serif;font-weight:600;color:#e08923;padding-left:3%}
.region-heading{font:22px 'Roboto Condensed', sans-serif;font-weight:400;}
.region-heading a{color:#383838;text-decoration:underline;text-decoration-color:#a08b3b}
#openMenu > div{overflow:hidden;padding:0}
.header-region-map{position:absolute;width:100%;height:auto;opacity:.65}
.regionCol{float:left;margin:4% 6% 0;display:block;z-index:5}
.regionCol li{margin:10% 0}
#city-from{display:block}
.header-map-section{display:block}
.header-section{padding-left:3%}
.header-search-section{display:block;margin:4% 0;padding-left:2%}
.header-search-section p{padding-right:75px;font:14px 'Roboto', sans-serif}
.wrap-regions{background:#fcd63f;width:100%;-webkit-transition:opacity 400ms ease-in;-moz-transition:opacity 400ms ease-in;transition:opacity 400ms ease-in;display:none;pointer-events:none}
#search-city{border:1px solid #000!important;width:296px;height:45px;padding-left:1%}
.search-city-submit{width:194px;height:50px}
#region-selection-form input{margin-right:2%;outline:none;border:none;border-radius:2px}
#region-selection-form{position:relative;z-index:5}
.ui-menu.ui-widget.ui-widget-content{background:#fff;z-index:9999;width:295px!important;max-height:165px!important;overflow-x:auto}
li.ui-menu-item{cursor:pointer;padding:10px}
li.ui-menu-item:hover{background:#fe475a;color:#fff;cursor:pointer}
.wrap-regions:target{display:block;pointer-events:auto}
.brand-img-3{max-width:145px;width:100%;height:auto;display:block;margin:0 auto}
.brand-img-7{max-width:145px;width:100%;height:auto;display:block;margin:0 auto}
.brand-img-8{max-width:145px;width:100%;height:auto;display:block;margin:0 auto}
.cat-img-1{bottom:-550px;display:block;height:auto;max-width:900px;position:absolute;right:-24%;width:150%;z-index:1}
.cat-img-1-box{position:relative;display:block}
.cat-img-2{display:block;height:auto;max-width:981px;position:absolute;right:-20%;top:115px;width:125%;z-index:1}
.cat-img-3{display:block;height:auto;max-width:600px;position:absolute;top:100px;width:100%;z-index:1}
.cat-img-3-box{position:relative;display:block}
.cat-img-4{display:block;height:auto;left:-9%;max-width:600px;position:absolute;top:125px;width:100%;z-index:1}
.cat-img-4-box{position:relative;display:block}
.cat-img-5{display:block;height:auto;left:8%;max-width:538px;position:absolute;top:80px;width:100%;z-index:1}
.cat-img-5-box{position:relative;display:block}
.cat-box-index{background:#fff;border:2px solid #fe475a;border-radius:2px}
.cat-box-index-1{top:0}
.set-item-img{width:100%;height:650px}
.set-text p span{font-weight: 900;}
.footer-form-call a:hover,.footer-form-call a:focus{color:#fff;text-decoration:none}
.footer-form-call a{padding-top:13px}
.section-title-2 h2{margin:2% 0}
.index-block-text span{color:#fe475a;font-weight:600}
.cat-pos a{color:#383838;text-decoration:none;outline:none}
.cat-pos a:hover,.cat-pos a:focus,.cat-pos a:active{color:#fe475a}
span #bcol .inactive,span #scol .inactive,span #kcol .inactive{height:30px}
.lower_text_btn{font-size:22px}
.inactive{position:relative;background:none;height:100px;z-index:100}
.inactive > select{position:relative;z-index:-1}
@media screen and (-ms-high-contrast: active),(-ms-high-contrast: none) {
.form-1-btn{font-size:20px}
.callback-btn{font-size:20px}
.form-catalog p{font-size:20px}
.form-catalog-left p{font-size:20px}
}
.sale-season-wrap{margin-top:12%;text-align:center}
.sale-season img{max-width:459px;height:auto;width:100%}
.start-sale{margin-top:4%;font-family: 'Roboto Condensed', sans-serif;font-weight: 600;text-transform:uppercase;font-size:25px;text-align:left;float:left}
.start-sale span{color:#fe475a}
.last-day{color:#fff;font-family:'Roboto Condensed', sans-serif;font-weight:600;text-transform:uppercase;font-size:18px;display:block;float:right;padding:10px 21px;margin-right:15px;-webkit-transform:skew(-20deg);-ms-transform:skew(-20deg);-o-transform:skew(-20deg);transform:skew(-20deg);background:#fe475a}
.last-day p{-webkit-transform:skew(20deg);-ms-transform:skew(20deg);-o-transform:skew(20deg);transform:skew(20deg)}
.last-day span{font-size:20px;color:#fff;vertical-align:middle}
.wrap-q{width:65%;border:5px solid #ff4f6b;display:block;margin:35px auto 25px;padding:10px;position:relative}
.q-img{position:absolute;left:-30px;top:-19px;padding:6px;background:#fff}
.gift-img{float:right;display:inline-block;max-width:200px;width:100%;margin-top:-10px}
.bottom-q{line-height:1.4;color:#32373b;font-size:19px;text-align:center;display:inline-block;margin:10px 0 0;width:70%}
.top-q{margin:10px 0 0;line-height:1.5;color:#32373b;font-size:22px;padding:0 0 0 35px;font-weight:700}
.wrap-table-cargo{padding:5px;border:4px dotted #ff4058;width:65%;display:block;margin:0 auto}
.wrap-map{background:#f6f6f6;width:100%}
.prodN-img{margin:0 auto;display:block;max-width:250px;width:100%;height:auto}
.compliance{font-size:14px; margin-bottom: 10px;}
.prokrutka {
width:1000px; /* ???????????*/
height:540px;
margin-left:0px; /* ??? ???????*/
background: #fff; /* ?????, ???*/
border: 1px solid #C1C1C1; /* ??? ???????? ???*/
overflow: auto; /* ???? ?? ?????? ?????? ?????, ?? ???????*/
}

.tooltipster-sidetip .tooltipster-box {
    background: #ffff00;
    border: 2px solid #38383d;
    border-radius: 4px;
}

.tooltipster-sidetip .tooltipster-content {
    color: #38383d;
}

.tooltipster-sidetip.tooltipster-top .tooltipster-arrow-background {
    border-top-color: #ffff00;
}